body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: hsl(192, 80%, 28%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0 0 4px 0;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

h2 {
    margin: 0 0 8px 0;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.App {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 30px;
    min-height: 450px;
    width: 510px;
    box-sizing: border-box;
    background: linear-gradient(180deg,hsl(193, 79%, 54%) 0.000%,hsl(192, 80%, 48%) 20.000%,hsl(192, 81%, 55%) 40.000%,hsl(192, 81%, 63%) 60.000%,hsl(192, 82%, 70%) 80.000%,hsl(191, 84%, 78%) 100.000%);
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(252, 252, 252, 0.3);
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

label {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    white-space: nowrap;
}

.input-group {
    display: grid;
    grid-template-columns: 160px 1fr;
    align-items: center;
    gap: 10px;
}

.input-group input {
    width: 100%;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.input-group input[readonly] {
    background-color: #f3f3f3;
    cursor: not-allowed;
}


.input-group input:focus {
    outline: none;
    border-color: orange;
}

.input-group small {
    grid-column: 2;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1;
    opacity: 0.85;
}


button {
    padding: 8px 18px;
    font-size: 15px;
    background: linear-gradient(180deg, #ffa000 0.000%, #ffad02 20.000%, #ffbc20 40.000%, #ffcb50 60.000%, #ffda7f 80.000%, #ffe99d 100.000%);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    max-width: 250px;
    box-sizing: border-box;
}

button:hover {
    background: linear-gradient(360deg, #ffa000 0.000%, #ffad02 20.000%, #ffbc20 40.000%, #ffcb50 60.000%, #ffda7f 80.000%, #ffe99d 100.000%);
    transition: background-color 1.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.6s ease;
}

.button-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 85%;
    gap: 10px;
    margin: 0px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.output {
    min-height: 60px;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error {
    color:darkred;
    font-style: italic;
    font-weight: 600;
    align-self: flex-start;
    animation: fadeInUp 200ms ease-out;
}

.results {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 550;
    color: hsl(192, 80%, 20%);
    justify-content: center;
    align-self: flex-start;
    animation: fadeInUp 200ms ease-out;
    gap: 4px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
    .App {
        width: 90%;
        max-width: 459px;
        margin: 0px auto;
    }
    .content {
        gap: 4px;
    }
    .output {
        font-size: 13px;
    }
    button {
        font-size: 15px;
        padding: 8px 16px;
        margin-top: 0px;
        margin: 0px auto;
    }
    .inputs {
        gap: 6px;
    }
    .label {
        font-size: 16px;
    }
    .input-group {
        grid-template-columns: 1fr;
        gap: 3px;
    }
    .input-group small{
        grid-column: 1;
    }
    .button-group {
        grid-template-columns: 1fr;
    }

}

